<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Enter Patient Info</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  <link href="/static/style.css" rel="stylesheet">
</head>

<body>
  <!-- navigation bar -->
  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="http://127.0.0.1:5000/index.html">EMERGE TO LIFE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-collapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="nav-collapse">
      <ul class="navbar-nav">
        <li class="nav-item itemsss">
          <a class="nav-link" href="http://127.0.0.1:5000/viewdoc">View Doctors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:5000/entrydoc">Enter Doctors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:5000/viewpt">View Patients</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="http://127.0.0.1:5000/entrypt">Enter Patients</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:5000/signuplogin.html">More</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- regular form entry -->
  <br> <br> <br> <br>
  <div class="container-fluid" style="width: 50%;">
    <h1>ENTER PATIENT INFORMATION</h1>
    <br> <br>
    <form action="http://localhost:5000/entrypt" class="needs-validation" method="post">

      <div class="form-group">
        <label for="fname">Full Name:</label>
        <input type="text" class="form-control" placeholder="full name" name="fname" required>
        <div class="valid-feedback">Valid</div>
        <div class="invalid-feedback">Required field. Please fill this out.</div>
      </div>
      <br>
      <div class="form-group">
        <label for="gender">Gender:</label>
        <input type="text" class="form-control" placeholder="gender" name="gender" required>
        <div class="valid-feedback">Valid</div>
        <div class="invalid-feedback">Required field. Please fill this out.</div>
      </div>
      <br>
      <div class="form-group">
        <label for="city">City:</label>
        <input type="text" class="form-control" placeholder="city" name="city" required>
        <div class="valid-feedback">Valid</div>
        <div class="invalid-feedback">Required field. Please fill this out.</div>
      </div>
      <br>
      <div class="form-group">
        <label for="street">Street:</label>
        <input type="text" class="form-control" placeholder="street" name="street" required>
        <div class="valid-feedback">Valid</div>
        <div class="invalid-feedback">Required field. Please fill this out.</div>
      </div>
      <br>

      <div class="form-group">
        <label for="emergency">Emergency Contact Name:</label>
        <input type="text" class="form-control" placeholder="emergency name" name="emergency" required>
        <div class="valid-feedback">Valid</div>
        <div class="invalid-feedback">Required field. Please fill this out.</div>
      </div>
      <br>
      <div class="form-group">
        <label for="number">Emergency Contact Phone Number+20:</label>
        <input type="text" class="form-control" placeholder="emergency contact phone number" name="number" required>
        <div class="valid-feedback">Valid</div>
        <div class="invalid-feedback">Required field. Please fill this out.</div>
      </div>
      <br>
      <div class="form-group">
        <label for="ssn">SSN:</label>
        <input type="text" class="form-control" placeholder="SSN" name="ssn" required>
        <div class="valid-feedback">Valid</div>
        <div class="invalid-feedback">Required field. Please fill this out.</div>
      </div>
      <br>
      <div class="form-group">
        <label for="age">Age:</label>
        <input type="text" class="form-control" placeholder="age" name="age" required>
        <div class="valid-feedback">Valid</div>
        <div class="invalid-feedback">Required field. Please fill this out.</div>
      </div>
      <br>
      <div class="text-center">
        <div class="form-group form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" name="checkbox" required> Agree to Terms and Conditions
            <div class="valid-feedback">Valid</div>
            <div class="invalid-feedback">Check this box to continue.</div>
        </div>
        <button type="submit" class="btn btn-primary">Enter Info</button>
      </div>
    </form>
  </div>

  <!-- footer -->
  <!-- include contact-us-for-any-complaints forms in the footer -->
  <footer class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4">
          <hr>
          <h4>Supervised by</h4>
          <hr>
          <p>
            Dr. Mohamed Eweiss
            <br>
            Eng. Ayman Anwar
            <br>

          </p>
        </div>
        <div class="col-lg-4">
          <hr>
          <h4>Used</h4>
          <hr>
          <p>
            HTML, CSS, BS4
            <br>
            SQL databases
            <br>
            Flask, Python
          </p>
        </div>
        <div class="col-lg-4">
          <hr>
          <h4>Team</h4>
          <hr>
          <div class="row" style="padding-left: 2rem; padding-right: 1rem;">
            <div class="col-6">
              <p>
                Ahmed Hesham
                <br>
                Hussein Mohamed
                <br>
                AbdELRahman Muhsen
              </p>
            </div>
            <div class="col-6">
              <p>
                Mariam Magued
                <br>
                Youssef Ahmed
                <br>
              </p>
            </div>
          </div>
        </div>
        <div class="col-12" style="padding-top: 1rem;">
          <hr>
          <p>For any complaints, Please contact us at
            <a href="tel:+201000000000">+201000000000</a>
          </p>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>