<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Homepage</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  <link href="/static/style.css" rel="stylesheet">
</head>

<body>

  <!-- navigation bar -->
  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="http://127.0.0.1:5000/index.html">EMERGE TO LIFE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-collapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="nav-collapse">
      <ul class="navbar-nav">
        <li class="nav-item itemsss">
          <a class="nav-link" href="http://127.0.0.1:5000/viewdoc">View Doctors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:5000/entrydoc">Enter Doctors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:5000/viewpt">View Patients</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:5000/entrypt">Enter Patients</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:5000/signuplogin">More</a>
        </li>
      </ul>
    </div>
  </nav>


  <!-- welcome home -->
  <br><br>
  <h3 class="display-4 text-center">WELCOME TO THE EMERGENCY ROOM</h3>
  <br> <br>

  <!-- title with some info jumbotron -->
  <br>
  <div class="container-fluid">
    <div class="row jumbotron">
      <div class="col-sm-12 col-md-12 col-lg-9">
        <h4>EMERGENCY ROOM</h4>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id libero provident rerum
          possimus, quod consequatur molestiae, blanditiis animi quisquam ducimus incidunt at! Expedita,
          reiciendis! Veniam mollitia magni nulla natus porro.</p>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-3">
        <img src="/static/room.jpg" style="width: 100%; height: 100%;">
      </div>
    </div>
  </div>

  <!-- title with some info -->
  <br> <br> <br> <br>
  <div class="container">
    <div class="row title-info">
      <div class="col-sm-12 col-md-12 col-lg-3">
        <img src="/static/emergency.jpg" style="width: 100%; height: 100%;">
      </div>
      <div class="col-sm-12 col-md-12 col-lg-9">
        <h4>EMERGE TO LIFE</h4>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint natus ad voluptate,
          eveniet, veritatis explicabo magni blanditiis optio incidunt quidem excepturi quisquam ex officia
          velit architecto fugiat, totam voluptatem quasi?</p>
      </div>
    </div>
  </div> <br>

  <!-- title with some info jumbotron -->
  <br>
  <div class="container-fluid">
    <div class="row jumbotron">
      <div class="col-sm-12 col-md-12 col-lg-9">
        <h4>OUR STAFF</h4>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id libero provident rerum
          possimus, quod consequatur molestiae, blanditiis animi quisquam ducimus incidunt at! Expedita,
          reiciendis! Veniam mollitia magni nulla natus porro.</p>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-3">
        <img src="/static/doctor.jpg" style="width: 100%; height: 100%;">
      </div>
    </div>
  </div>

  <!-- title with some info -->
  <br>
  <div class="container">
    <div class="row title-info">
      <div class="col-sm-12 col-md-12 col-lg-3">
        <img src="/static/medcheck.jpg" style="width: 100%; height: 100%;">
      </div>
      <div class="col-sm-12 col-md-12 col-lg-9">
        <h4>WE CARE</h4>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut eius sunt odio repellat
          quasi, eum, fuga sit obcaecati libero ducimus, pariatur atque? Impedit qui soluta dignissimos non
          culpa eum id!</p>
      </div>
    </div>
  </div> <br>

  <!-- title with some info jumbotron -->
  <br>
  <div class="container-fluid">
    <div class="row jumbotron">
      <div class="col-sm-12 col-md-12 col-lg-9">
        <h4>TECHNOLOGY</h4>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate labore maiores animi
          dolorem saepe distinctio perspiciatis rerum a excepturi velit? Fugiat tempora velit ex recusandae
          officia dicta neque enim dolores.</p>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-3">
        <img src="/static/tech.jpg" style="width: 100%; height: 100%;">
      </div>
    </div>
  </div>

  <!-- title with some info -->
  <br>
  <div class="container">
    <div class="row" style="padding-left: 1 rem; padding-right: 1 rem;">
      <div class="col-sm-12 col-md-12 col-lg-3">
        <img src="/static/comp.jpg" style="width: 100%; height: 100%;">
      </div>
      <div class="col-sm-12 col-md-12 col-lg-9">
        <h4>OUR WEBSITE</h4>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla voluptatibus eius,
          dolores modi nostrum possimus. Ipsa eveniet corrupti, porro aliquam sed ut doloribus possimus
          numquam rerum nobis, voluptatem tenetur nostrum.</p>
      </div>
    </div>
  </div> <br>
  <br>

  <!-- footer -->
  <!-- include contact-us-for-any-complaints forms in the footer -->
  <footer class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4">
          <hr>
          <h4>Supervised by</h4>
          <hr>
          <p>
            Dr. Mohamed Eweiss
            <br>
            Eng. Ayman Anwar
            <br>
            
          </p>
        </div>
        <div class="col-lg-4">
          <hr>
          <h4>Used</h4>
          <hr>
          <p>
            HTML, CSS, BS4
            <br>
            SQL databases
            <br>
            Flask, Python
          </p>
        </div>
        <div class="col-lg-4">
          <hr>
          <h4>Team</h4>
          <hr>
          <div class="row" style="padding-left: 2rem; padding-right: 1rem;">
            <div class="col-6">
              <p>
                Ahmed Hesham
                <br>
                Hussein Mohamed
                <br>
                AbdELRahman Muhsen
              </p>
            </div>
            <div class="col-6">
              <p>
                Mariam Magued
                <br>
                Youssef Ahmed
                <br>
              </p>
            </div>
          </div>
        </div>
        <div class="col-12" style="padding-top: 1rem;">
          <hr>
          <p>For any complaints, Please contact us at
            <a href="tel:+201000000000">+201000000000</a>
          </p>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>